.deck {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 40px;
}

.deck > h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deck > h1 > img {
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 4px;
    border: 1px solid var(--color-gray400);
}

.deck > img {
    width: 60px;
    object-fit: contain;
}

.deck > .button__group {
    margin: 15px 0;
}

.deck__cards {
    gap: 20px 0;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 720px) {
    .deck {
        margin: 0 auto;
        max-width: 70vw;
    }

    .deck > .deck__cards {
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .deck > .deck__cards > .card__container > img {
        height: 60%;
        object-fit: cover;
    }
}